Package: com.nahtedetihw.musicalbumscroll
Name: MusicAlbumScroll
Depends: mobilesubstrate, ws.hbang.common
Version: 1.0
Architecture: iphoneos-arm
Description: Scroll recently added songs horizontally!
Maintainer: Ethan Whited
Author: Ethan Whited
Section: Tweaks
