Package: com.nahtedetihw.spotifyui
Name: SpotifyUI
Depends: mobilesubstrate, ws.hbang.common
Architecture: iphoneos-arm
Description: Allows UI Theming for Spotify!
Maintainer: Ethan Whited
Author: Ethan Whited
Section: Tweaks
Version: 1.0
Installed-Size: 448
